<table>
  <% @calendar_data.each do |date| %>
    <% if date.wday == 0 %><tr><% end %>
    <td>
      <%= date.month %>/<%= date.day %>
    </td>
    <% if date.wday == 6 %></tr><% end %>
  <% end %>
</table>
