<h1>News releases</h1>


<ul>
  <% @news_releases.each do |news_release| %>
    <li>
      <%= link_to "#{news_release.released_on.strftime('%Y-%m-%d')}: #{news_release.title}", news_release %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to 'Add News Release', new_news_release_path, class: 'btn btn-primary' %>
</p>

